:root{
    --darkback:rgb(14, 1, 63);
    --accentblue:lightseagreen;
}

/* media adjustments */
@media screen and (max-width: 992px) {
    *{
        display:flex;
        flex-direction: column;
        
    }
  }

  /* setting background image as background */
  body {
    background-image: url("/Images/Background.jpg");
  }


/* globally adjust font color, style, margin, and weight */
*{
    color:ghostwhite;
    font-family: Verdana, Arial, sans-serif;
    font-weight: lighter;
    margin: 0;
    
}

/* header color */
header{
    background-color: var(--darkback);
}

/* header positioning and background color */
header h1{
    font-size: 3vw;
    float:left;
    margin-top: 1.5vh;
    padding-left: 3vw;
    background-color: var(--accentblue);
}

/* navigation bar position */
.navbar{
    display:flex;
    justify-content: flex-end;
    list-style-type:none;
}

/* navigation item decoration */
.navitem{
    margin:2vw;
    text-decoration: underline;
    font-size: 1.5vw;
}

/* hover effect for navigation bar items */
.navitem:hover{
    background-color: var(--accentblue);
}

/* banner position and text font color */
/* .banner{
    position: relative;
    text-align: center;
    color: white;
} */

/* banner sizing */
/* .bannerphoto{
    height: 12em;
    width: 100%;
    object-fit: cover;
} */

/* text on banner sizing, positioning, and font decorations */
/* .bottom-right{
    position: absolute;
    bottom: 1vw;
    right: 2vw;
    background-color: var(--accentblue);
    font-size:3vw;
} */
/* positioning of rows */
.row{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 100%;
}

/* section labels and sizing? */
.labels{
    font-size: 2vw;
    display:flex;
    justify-content: flex-start;
    padding-right: .5%;
    height:100%;
   
}


/* sizing of about me row */
.about-section{
    width:100%;
    height:50vh;
   }

   /* right column about me positioning */
.right{
    display:flex;
    justify-content:center;
    flex-direction: row;
    height: 100%;
    width: 85%;
    border-left: var(--accentblue) 3px solid;
    padding-left: 1%;
}
   

/* about me text positioning? */
.about{
    float:right;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}


/* sizing of self photo */
.self-photo{
    border-style: solid;
    border-radius: .5vw;
    border-color: var(--accentblue);
    margin:2%;
    margin-left: 10vw;
    height: 18vw;
}

/* about me body paragraph positioning */
.about-body{
    margin-top: 3vh;
    margin-right: 3vw;
    font-size: 1.25vw;
}


/* grid of projects ive "worked on" positioning and dimensions */
.workgrid{
 display:grid;
 grid-template-columns: repeat(6, 1fr);
 grid-template-rows: repeat(5, 8vw);
 grid-gap: 20px;
 width:75%;
}

.item1{
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 4;
}

.item2{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
}
.item3{
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 4;
    grid-row-end: 5;
}
.item4{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 6;
}

.item5{
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 5;
    grid-row-end: 6;
}


/* work photo effects */
.workphotos{
    border-style: solid;
    border-radius: .5vw;
    border-color: var(--accentblue);
    filter:saturate(40%);
    transition-duration: .25s;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.workbox-item{
    position: relative;
}
/* positioning of captions on work photos */
.bottom-left{
    position: absolute;
    bottom: 1vh;
    left: .5vw;
    padding-left: 20px;
    padding-right: 20px; 
    background-color: var(--accentblue);
}

.photo-caption-h{
    font-size: 2vw;
}

.photo-caption-p{
    font-size:1vw;
}



/* work photos photo hover effect */
.workphotos:hover{
    filter:none;
    transition-duration: .25s;
}



/* forms of contact positioning */
.contactlist{
    display:flex;
    list-style-type:none;
    justify-content: space-between;
    flex-direction: row;
}

.contact-items{
    margin-top: 4vh;
    margin-bottom: 3vh;;
    margin-right: 8vw;
}

/* forms of contact hover effect */
.contact-items:hover{
    background-color: var(--accentblue);
}















