:root{
    --darkback:rgb(27, 9, 104);
    --accentblue:lightseagreen;
}

/* globally adjust font color, style, margin, and weight */
*{
    color:ghostwhite;
    font-family: Verdana, Arial, sans-serif;
    font-weight: lighter;
    margin: 0;
    
}

/* adds in scroll behavior for click event scrolls in html */
html{
    scroll-behavior: smooth;
}

/* header color */
header{
    background-color: var(--darkback);
}

/* header positioning and background color */
header h1{
    font-size: 7vh;
    float:left;
    margin-top: 1.5vh;
    padding-left: 3vw;
    background-color: var(--accentblue);
}

/* navigation bar position */
.navbar{
    display:flex;
    justify-content: flex-end;
    list-style-type:none;
}

/* navigation item decoration */
.navitem{
    margin:2vw;
    text-decoration: underline;
}

/* hover effect for navigation bar items */
.navitem:hover{
    background-color: var(--accentblue);
}

/* background color of main */
.main{
    background-color: rgb(116, 88, 143);
}

/* banner position and text font color */
.banner{
    position: relative;
    text-align: center;
    color: white;
}

/* banner sizing */
.bannerphoto{
    height: 12em;
    width: 100%;
    object-fit: cover;
}

/* text on banner sizing, positioning, and font decorations */
.bottom-right{
    position: absolute;
    bottom: 1vw;
    right: 2vw;
    background-color: var(--accentblue);
    font-size:3vw;
}
/* positioning of rows */
.row{
    display:flex;
    flex-direction: row;
    /* justify-content: center; */
    height: 100%;
}

/* section labels and sizing? */
.labels{
    font-size: 3vw;
    display:flex;
    justify-content: flex-start;
    border-right: var(--accentblue) 3px solid;
    padding-right: 1%;
    height:100%;
   
}


/* sizing of about me row */
.about-section{
    width:100%;
    height:50vh;
   }

   /* right column about me positioning */
.right{
    display:flex;
    flex-direction: row;
    height: 100%;
    width: 75%;
}
   

/* about me text positioning? */
.about{
    float:right;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}


/* sizing of self photo */
.self-photo{
    border-style: solid;
    border-radius: .5vw;
    border-color: var(--accentblue);
    height:auto;
    margin:2%;
    height: 80%;
}

/* about me body paragraph positioning */
.about-body{
    margin-top: 3vh;
}


/* block of projects ive "worked on" positioning */
.workbox{
    float:right;
   display:block;

}

/* top project */
.work1{
display:flex;
justify-content: flex-end;
width:60%;
}

.work2{
    display: flex;
    justify-content: flex-end;
    width: 20%;
}

/* work photo effects */
.workphoto{
    border-style: solid;
    border-radius: .5vw;
    border-color: var(--accentblue);
    filter:saturate(40%);
    transition-duration: .25s;
    margin:0;
    width: 20%;
}

/* work photos photo hover effect */
.workphoto:hover{
    filter:none;
    transition-duration: .25s;
}


/* forms of contact positioning */
.contactlist{
    display:flex;
    justify-content: space-evenly;
    list-style-type:none;
}

/* forms of contact hover effect */
.contact-items:hover{
    background-color: var(--accentblue);
}

/* footer positioning and decoration */
footer{
    display:flex;
    justify-content: center;
    font-size:xx-small;
    text-shadow: 0 0 3px var(--accentblue);
    background-color: var(--darkback)
}














