:root{
    --darkback:rgb(34, 32, 39);
    --accentblue:lightseagreen;
}


  /* setting background image as background */
  html { 
    background: url("/Images/Background.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }


/* globally adjust font color, style, margin, and weight */
*{
    color:ghostwhite;
    font-family: Verdana, Arial, sans-serif;
    font-weight: lighter;
    margin: 0;
    
}

/* header color */
header{
    background-color: var(--darkback);
    opacity: 0.8;
}

/* header positioning and background color */
header h1{
    font-size: 3vw;
    float:left;
    margin-top: 1.5vh;
    padding-left: 3vw;
    background-color: var(--accentblue);
}

/* navigation bar position */
.navbar{
    display:flex;
    justify-content: flex-end;
    list-style-type:none;
}

/* navigation item decoration */
.navitem{
    margin:2vw;
    text-decoration: underline;
    font-size: 1.5vw;
}

/* hover effect for navigation bar items */
.navitem:hover{
    background-color: var(--accentblue);
}

/* Active tab will be colored */
.active a{
    color: var(--accentblue);
}

/* active tab hover effect to turn back to white for visibility */
.active a:hover{
    color:ghostwhite;
}


/* section labels and sizing? */
.labels{
    font-size: 2vw;
    display:flex;
    justify-content: flex-start;
    padding-right: .5%;
    height:100%;
   
}


/* positioning of about me section */
.about-section{
    display:flex;
    align-items:center;
    flex-direction: column;
    height: 100%;
   }

   /*about me positioning */
.about-content{
    height: 100%;
    width:65%;
    margin-top: 4vh;
}
   

/* sizing of self photo */
.self-photo{
    border-style: solid;
    border-radius: 10vw;
    border-color: var(--accentblue);
    height: 18vw;
    box-shadow: 0 0 10px var(--accentblue);
    margin-top: 6vh;
    margin-right: 3vw;
}

/* about me body paragraph */
.about-body{
    margin-top: 3vh;
    font-size: 1.25vw;
}


/* Projects page */


/* grid of projects ive "worked on" positioning and dimensions */
.workgrid{
 display:grid;
 grid-template-columns: repeat(6, 1fr);
 grid-template-rows: repeat(5, 8vw);
 grid-gap: 20px;
 width:75%;
}

.item1{
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 4;
}

.item2{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
}
.item3{
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 4;
    grid-row-end: 5;
}
.item4{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 6;
}

.item5{
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 5;
    grid-row-end: 6;
}


/* work photo effects */
.workphotos{
    border-style: solid;
    border-radius: .5vw;
    border-color: var(--accentblue);
    filter:saturate(40%);
    transition-duration: .25s;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.workbox-item{
    position: relative;
}
/* positioning of captions on work photos */
.bottom-left{
    position: absolute;
    bottom: 1vh;
    left: .5vw;
    padding-left: 20px;
    padding-right: 20px; 
    background-color: var(--accentblue);
}

.photo-caption-h{
    font-size: 2vw;
}

.photo-caption-p{
    font-size:1vw;
}



/* work photos photo hover effect */
.workphotos:hover{
    filter:none;
    transition-duration: .25s;
}



/* Contact page */



/* forms of contact positioning */
.contactlist{
    display:flex;
    list-style-type:none;
    justify-content: space-between;
    flex-direction: row;
}

.contact-items{
    margin-top: 4vh;
    margin-bottom: 3vh;;
    margin-right: 8vw;
}

/* forms of contact hover effect */
.contact-items:hover{
    background-color: var(--accentblue);
}




